<ion-view view-title="{{city}}">
  <ion-content class="padding has-header">
    <ion-header-bar>
      Refreshed: {{time | utcToTime}}
    </ion-header-bar>
    <ion-list class="list list-inset padding  has-header ">
      <ion-item class="item forecast-day row-no-padding" ng-repeat="(key, value) in forecastWeatherData">

        <div class="item item-divider">
          {{value.time | utcToDay}}
        </div>

        <ion-item class="item-icon-left">
          <i style="margin-right: 10px;" class="ion-chatbox icon"></i>
          <span style="float: right; text-overflow: ellipsis;" class="item-text-wrap">{{value.summary}}</span>
        </ion-item>

        <ion-item class="item-icon-left">
          <i class="ion-thermometer icon"></i>
          <span style="float: right">{{value.temperatureMax}}° | {{value.temperatureMin}}°</span>
        </ion-item>

        <ion-item class="item-icon-left">
          <i class="ion-umbrella icon"></i>
          <span style="float: right">{{value.precipProbability | decToPercent}}</span>
        </ion-item>

        <ion-item class="item-icon-left">
          <i class="icon ion-flag"></i>
          <span style="float: right">{{value.windSpeed}} MPH</span>
        </ion-item>

        <ion-item class="item-icon-left">
          <i class="icon ion-waterdrop"></i>
          <span style="float: right">{{value.humidity | decToPercent}}</span>
        </ion-item>

        <ion-item class="item-icon-left">
          <i class="icon ion-eye"></i>
          <span style="float: right">{{value.visibility}} MILES</span>
        </ion-item>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
