<ion-view view-title="Information">
  <ion-content class="padding">
    <ion-list class="list-inset">

      <div class="item item-divider">
        Location Practices:
      </div>

      <ion-item class="item-text-wrap">
        Each request's location is stored <strong>anonymously</strong> on a secure server as a medium for analytics.
      </ion-item>

      <ion-toggle class="" ng-model="metricOption" ng-change="metricChange()" toggle-class="toggle-calm">
        Metric System
      </ion-toggle>

      <div class="item item-divider">
        Application made possible by:
      </div>

      <ion-item>
        Forecast.io Weather API
      </ion-item>

      <ion-item style="white-space: normal">
        Ionic Framework
      </ion-item>

      <ion-item style="white-space: normal">
        Apache Cordova
      </ion-item>

      <ion-item>
        Github
      </ion-item>

      <ion-item>
        JetBrains WebStorm for Student
      </ion-item>

      <ion-item style="white-space: normal">
        Application icon made by <a href="http://www.flaticon.com/authors/baianat" title="Baianat">Baianat </a>from <a
        href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a
        href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
