<ion-view view-title="Forecast">
  <ion-content class="padding">
    <h2>Current Forecast</h2>
    <label class="item item-input item-input-inset">
      <span class="input-label">Filter Results</span>
      <input type="text" ng-model="currentQuery">
    </label>
    <ion-list class="list list-inset">
      <ion-item class="item" ng-repeat="(key, value) in currentWeatherData">
        <ion-list class="list list-inset">
          <ion-header-bar>{{value.time | utcToDay}}</ion-header-bar>
          <ion-item style="background-color: #eeeeee" ng-repeat="(key, value) in value">
            {{key | camelToNormal}}: {{value}}
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
